README..md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/**


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/bin
/deploy
/target

### Gradle ###
build
.gradle*
/.settings/
/.project
/.classpath

### log ###
*.log

###Java class###
*.class

###JRebel###
rebel.xml
/log/
/*/out/*/

###log###
logs

###auto generate script###
promotionList
archiveImages.sh
generateAndPushImages.sh
buildFrontEndAuto.sh
pushFrontEndAuto.sh